qy 'add ops ; athrun ops qy'
z 'ssh -t athena screen -x'
zm 'mosh athena --server="athrun mosh_project mosh-server" -- screen -x'
r 'kinit -l7d benkraft && aklog'
kz 'pgrep -f "ssh -t athena screen -x" | xargs -n 1 kill'
mitpq 'rlpq -Hmitprint.mit.edu -Pbw 2>/dev/null | grep $ATHENA_USER'
google-chrome-incognito 'google-chrome --incognito'
screenlock 'gnome-screensaver-command --lock'
kerbal 'cd /home/ben/.kerbal ; optirun ./KSP.x86_64 ; cd -'
word 'env WINEPREFIX="/home/ben/.wine" wine C:\\windows\\command\\start.exe /Unix /home/ben/.wine/dosdevices/c:/users/ben/Start\ Menu/Programs/Microsoft\ Office/Microsoft\ Office\ Word\ 2007.lnk'
excel 'env WINEPREFIX="/home/ben/.wine" wine C:\\windows\\command\\start.exe /Unix /home/ben/.wine/dosdevices/c:/users/ben/Start\ Menu/Programs/Microsoft\ Office/Microsoft\ Office\ Excel\ 2007.lnk'
ppt 'env WINEPREFIX="/home/ben/.wine" wine C:\\windows\\command\\start.exe /Unix /home/ben/.wine/dosdevices/c:/users/ben/Start\ Menu/Programs/Microsoft\ Office/Microsoft\ Office\ PowerPoint\ 2007.lnk'
gsp 'env WINEPREFIX="/home/ben/.wine" wine C:\\windows\\command\\start.exe /Unix /home/ben/.wine/dosdevices/c:/users/Public/Start\ Menu/Programs/Sketchpad/GSP5.lnk'
treemaker 'env WINEPREFIX="/home/ben/.wine" wine "/home/ben/.wine/drive_c/Program Files/TreeMaker/treemaker.exe"'
