.vim/.netrwhist
.vim/.VimballRecord
.vim/haskellmode.config
.ssh/id_*
.ssh/known_hosts
.ssh/known_hosts.old
.ssh/ka
.ssh/lu_ec2
.ssh/google_compute*
.cabal/logs/
.cabal/packages/
.cabal/setup-exe-cache/
.cabal/world
.xmonad/history
.xmonad/super-prompt-history
.xmonad/xmonad-x86_64-linux
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o
.xmonad/xmonad.state
*.swp
*.pyc
.DS_Store?
.DS_Store
.svn
Thumbs.db
Icon?
tags
*.class
